{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div id="app">
        <form v-on:submit.prevent="onSubmit">
            <label for="">Название</label>
            <input v-model="newCategoryName" required>
            <label for="">Родительская категория</label>
            <select v-model="newCategoryParent">
                <option  v-for="category in categoriesLinearStructure" :key="category.id" v-bind:value="{id : category.id, name : category.name}" > ${ category.name }$ </option>
            </select>
            <button type="submit">Отправить</button>
        </form>
        <div>
            <category-tree v-for="category in categories" :category="category" v-on:update:categories="categoriesUpdated" :key="category.id"></category-tree>
        </div>

    </div>
</div>
{% endblock %}
